<%= form_for @post do |f| %>

  <% if @post.errors.any? %>
    <h2> <%- pluralize(@post.errors.count, "error") %> prevented this post from saving.</h2>
      <ul>
        <%= @post.errors.full_messages each do |message| %>
          <li><%= message %></li>
        <% end %>   
      </ul>
  <% end %>

  <%= f.label :title, "Your title - make it short and memorable" %><br />
  <%= f.text_field :title, :class => "title--box" %>

    <br />
    <br />

  <%= f.label :content, "Your bangin' article goes here" %><br />
  <%= f.text_area :content, :class => "text--box" %>

    <br />
    <br />

   <%= f.submit %>

<% end %>