<!DOCTYPE html>
<html>
<head>
  <title>@gonsanchezs</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto+Slab:400,700|Roboto:400,700|Merriweather:400,700|Merriweather+Sans:400,700" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=devide-width, initial-scale=1">
</head>
<body>

 <!-- Collect the nav links, forms, and other content for toggling -->

 <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('current'); $(this).parents('li').addClass('current');
            }
        });
    });
</script>

<header>

  <!-- 

   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <nav class="header--nav col-md-6 column__intro">
    <ul class="nav navbar-nav"> 
      <li><%= link_to 'Home', root_path, :class => "header--nav--link"  %></li>
      <li><%= link_to 'Now', now_path, :class => "header--nav--link"  %></li>
      <li><a class="header--nav--link" href="books.html">Books</a></li>
      <li><a class="header--nav--link" href="cities.html">Cities</a></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "header--nav--link" %></li>
      <% end %>
      </ul>
    </nav>

  </header>

  <% if notice %>
    <div class="content clearfix">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div class="content clearfix">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

  </div>

  !-->

<%= yield %>

<footer class="footer col-md-6 col-md-offset-3">
  <div class="container">
    <nav class="footer--nav">
      <p class="footer--note" id="mobile-invisible">Built in Reyjkavík 🇮🇸</p>
      <a href="http://twitter.com/gonsanchez" class="socicon-twitter footer--nav--link" target="_blank"></a>
      <a href="http://github.com/gonsanchez" class="socicon-github footer--nav--link" target="_blank" ></a>
      <a href="http://instagram.com/gonsanchez" class="socicon-instagram footer--nav--link" target="_blank"></a>
    </nav>
  </div>
</footer>

</body>
</html>

